html {
   font-size: 4vw; 
}

section {
    display: grid;
    width: 100vw;
} 

div {
    width: 50vw;
    text-align: center;
    margin: 0 auto;
    color: rgb(55, 90, 61);
}

body {
    font-size: 15px;
    background-color: rgb(219, 219, 219);
    color: rgb(55, 90, 61);
}

h1, h2 {
    color: rgb(97, 143, 105);   
}

h1 {
    font-size: 2.0rem;
}

h2 {
    font-size: 1.2rem;
}

.uno :hover {
    background-color: rgb(186, 197, 187);
}

.dos :hover {
    background-color: rgb(186, 197, 187);
}